.header-bg{
    background-image: url("../../Images/jeb-buchman-NjrjrdJE8As-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 858px;
}
.searchBox{
    width: 50%;
    margin-top: 11%;
}
@media only screen and (max-width: 600px) {
    .header-bg{
      background-size: cover;
      height: 400px;
    }
    .searchBox{
        width: 90%;
    }
}
.slider-img{
    height: 150px;
    width: 270px;
}
.show-image{
    margin-top: -300px;
}
@media only screen and (max-width: 600px) {
    .show-image{
      margin-top:-50px;
    }
}
.carosal{
    background-color: white;
    border-radius: 5px;
}
.image-div{
    margin-left: 42px;
}

@media only screen and (max-width: 600px) {
    .image-div{
      margin-left:0px;
    }
}
.list-item{
    display: flex;
    list-style: none;
    margin: 5px;
}
.list-item li{
    padding: 5px;
}
@media only screen and (max-width: 600px) {
    .list-item{
      margin-left:-40px;
    }
}
